.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.note {
    font-size: 15px;
    color:cornsilk;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4 {
    font-size: 25px;
    color: rgb(57, 52, 47);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
}

h5 {
    font-size: 25px;
    color: rgb(57, 52, 47);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
}

h6 {
    font-size: 25px;
    color: rgb(57, 52, 47);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
}